body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(27, 25, 25);
    flex-direction:column;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    flex-wrap: wrap;
    position: relative;

}
.barra2 a img{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(27, 25, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.cv {
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: #352f2f;
    margin: 50px;
    border-radius: 20px;
    padding: 10px;
    
}
.barra a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin: 1.5em;
    text-align: center;

}
.barra a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 1;
    transition: all .2s;
}
.barra a:hover:before{
    width: 80px;
}


.cv:hover {
    transition: .3s;
    transform: scale(1.3);
}

.linkd:hover {
    transition: .3s;
    background-color: rgb(67, 49, 224);
}

.maili:hover {
    transition: .3s;
    background-color: rgb(67, 49, 224);
}

.wame:hover {
    transition: .3s;
    background-color: rgb(67, 49, 224);
.tarjetas{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    position:relative;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}
.prog {
    font-family: 'Roboto Mono';
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.perfil {
    height: 220px;
    width: 220px;
    display: flex;
    margin: auto;
    object-fit: cover;
    border-radius: 150px;
    margin-top: 5em;
    justify-content: center;
}
.nombre {
    font-size: 4.5em;
    font-family:  'Roboto Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin: 20px;
    text-align: center;
}
.arriba {
    justify-content: center;
    align-items: center;
}

.card {
    position:relative ;
    width: 20em;
    height: 20em;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 5em;

}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
    border-radius: 1.5em;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #352f2f;
    padding: 1.5em;
    height: 17em;
    width: 17em;
    color: #f3f3f3;
    display:flexbox;
    flex-direction: column;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card:hover .front {
    transform: perspective(1000em) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(1000em) rotateY(360deg);
}

.contenedor {
	margin: auto;
	display: table;
}

.ht { 
    font-family: 'Roboto Mono';
	position: relative; 
	float: left;
    background-color: rgb(27, 25, 25);
	color: #fff;
	font-size: 2.5em;
    margin: 10px;
    text-align: center;
}

.ht span {
    position:absolute;
    right:0;
    width:0;
    background-color: rgb(27, 25, 25);
    border-left: 1px solid #000;
    animation: escribir 3s steps(50) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.pp2 {
    margin-top: 35px;
}


